@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Registro GameJam</h1>

    <form id="formGamejam">

        <div>
            <label>Nombre del jugador</label><br>
            <input type="text" id="nombre" required>
        </div>

        <br>

        <div>
            <label>Fecha de nacimiento</label><br>
            <input type="date" id="fecha" required>
        </div>

        <br>

        <div>
            <label>Hobbies</label><br>
            <input type="text" id="hobbies" required>
        </div>

        <br>

        <div>
            <label>Pago de matrícula</label><br>
            <select id="pago">
                <option value="no">No pagó</option>
                <option value="si">Pagó</option>
            </select>
        </div>

        <br>

        <button type="button" onclick="verificarPago()">Registrar</button>

    </form>

    <br>

    <h3 id="mensaje"></h3>

</div>

<script src="~/js/gamejam.js"></script>